<section class="mt-1">
  <h1>Liste des Utilisateurs</h1>

  <div class="row mt-2">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%# Assuming you have an 'avatar' attribute for the user's photo %>
          <%= image_tag 'avatar.jpg', class: "card-img-top", alt: "User Photo", width: 200, height: 300 %>
          <div class="card-body">
            <h5 class="card-title"><%= user.first_name %></h5>
            <p class="card-text"><strong>Email:</strong> <%= user.email %></p>
            <%# Add other details you want to display %>
            <a href="#" class="btn btn-primary">Voir Profil</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>